/* ===== GLOBAL RESET ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== HEADER ===== */

header {
    background-color: #003B6D;
    color: #ffffff;
    padding: 20px;
    text-align: center;              
}

/* ===== NAVIGATION =====*/

.main-nav {
    background-color: #6699CC;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.main-nav img {
    height: 60px;
    width: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.main-nav ul li a.selected {
    border-bottom: 2px solid #ffffff;
}

